.progress {position:relative; width:100%; border:1px solid #7F98B2;padding:1px;border-radius: 3px;height:22px;margin-top:10px; }
.bar{background-color: #B4F5B4; width:0%; height: 25px; border-radius: 3px;}
.percent{ position:absolute; display:inline-block; top:3px; left:48%; color:#7f98b2; }

#prg1
{
	
}


td .elipsis-short {
    width: 125px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.icono
{
	font-size: 15px;
	line-height: 10px;
	margin-left: 5px;
}

.texto > p
{
	padding: 5px;
	font-size: 17px;
	margin-left: 10px;
}

.card-body-margen
{
	margin-top:20px;
}

.certificate
{
	display: inline-flex;
}

.certificate i
{
	margin-right: 10px;
}

.card-body-margen div .card-subtitle
{
	color:#ff7e00;
	margin-left:15px;
}

.img-documentacion
{
	border: 3px solid #ff7e00;
	border-radius: 10px;
	width: auto;
	display: flex;
	margin:10px;
}

.min_max_100
{
    min-height: 145px;
    max-height: 145px;
}

.documentacion-strong
{
	margin-right: 7px;
}

.card-body-documentacion
{
	max-width: 1200px;
	width: 100%;
	text-align:left;
}

.onlymovil
{
    display:none;
}

ul.navbar-nav.navbar-nav-right {
	display: none;
}

#buscador-1 {
	border: 1px solid #d08f50;
}

td .elipsis-short-inpc
{
	width: 125px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


.busqueda-especial-container
{
	border: 2px solid #ccc;
	padding: 10px;
	border-radius: 5px;
}

.card-separator{
        background-color: #f5f5f552;
    box-shadow: 0 3px 5px -2px #0b0b0b;
    -webkit-box-shadow: 3px 3px 5px 1px rgba(125, 125, 125, 1);
    -moz-box-shadow: 3px 3px 5px 1px rgba(125, 125, 125, 1);
    box-shadow: 3px 3px 5px 1px rgba(125, 125, 125, 1);
    border-radius: 5px;
    padding: 15px 30px;
    margin-bottom: 15px;
}


/*................. CSS FILTROS POR CAMPOS ................... */

.container-filtercolumn{
	float: right;
}

.options-search-columns{
	padding: 10px;
	list-style: none;
	background-color: #fff;
	position: absolute;
	top: 100%;
	z-index: 1000;
	min-width: 10rem;
	margin: .125rem 0 0;
	font-size: 1rem;
	display: none;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: .25rem;
}
.options-search-columns > li{
	margin-bottom: 5px;
}

/*................. CSS FILTROS POR CAMPOS ................... */

td .elipsis-short-325 {
    width: 325px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


@media all and (max-width: 1024px){
	.img-documentacion
	{
		width:100%;
	}

}

@media all and (max-width: 768px){
    
td .elipsis-short-325 {
    width: 225px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
    
    .container-filtercolumn{
		width: 100%;
		margin-top:8px;
	}
	
	#buttonfilter{
		width:100%;
	}
    
    .onlymovil
{
    display:block !important;
}

	.img-documentacion
	{
		width:100%;
	}
	.thresp th
	{
		width: 100%;
		position: absolute;
		/*overflow: overlay;*/
		clear:both;
		display: contents;
	}
	td .elipsis-short
	{
		width: 125px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.ref-short
	{

	}

	.row.card-description.configuracion > div
	{
		max-width: 100%;
		width: 100%;
	}

	.fact-table
	{
		overflow: scroll;
	}
	
	.fact-table-1
	{
		overflow: visible;
	}

	.flecha-right > th
	{
		width: 100% !important;
	}

	.bot-scroll
	{
		width: 100%;
		overflow: scroll;
	}
	#myTab > li{
		width: 50%;
	}
	.thresp .form-group > th
	{
		width: 100%;
		background-color: black;
	}

	.filtro .monetario input
	{
		width:100%;
	}

	.filtro .monetario select
	{
		width:100%;
	}

}

@media all and (max-width: 767px){
    .planes-conf > li
    {
        width:100% !important;
    }
    .list-planes-conf .ocultarequis
    {
        display:none;
    }
    .elipsis-short-number	
	{
		margin-top: 5px;
		    width: 0px;
	}
    .resp-item
    {
        width:255px;
    }
    .resp-total
    {   
        width:75px;
    }
    .resp-descripcion
    {
        width:100px;
    }
    .resp-precio{
        width:110px;
    }
    .resp-refer
    {
        width:100px;
    }
    .resp-fecha
    {
        width: 129px;
    }
    .resp-observaciones
    {
        width:118px;
    }
	.sct-1forpayment
	{
		float: none !important;
	}
	.oclt-btneximp
	{
		display:none;
	}
	.oclt-resp
	{
		display:none;
	}
	.resp-cxpagar
	{
		width: 1px!important;
	}
	.if-glanalytics
	{
		height: -webkit-fill-available;
	}
	div.dropdown-menu.show 
	{
		width:100% !important;
	}
}

@media all and (max-width: 320px)
{
	td .elipsis-short
	{
		width: 105px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

/* Estilos de Planes dentro de configuraciones */

.planes-conf > li
{
	list-style: none;
	width: 32%;
	height: 305px;
	padding: 0px;
	margin: 5px;
	border: 2px solid #08344a;
	/* display: inline-block; */
	display: inline-table;
	background-color: #08344a;
}

.title-plan-conf {
	color:#fff;
	margin-bottom: 20px;
	background-color: #08344a;
}

.list-planes-conf > li, .list-planes-conf .ocultarequis > li
{
	display: -webkit-box;
	text-align: inherit;
	margin-right: 15px;
	position: initial;
	color:#fff;
}


.li-planes-1
{
	background-color: #08344a;
}

.li-planes-2
{
	background-color: #08344a;
}

.mensual-config
{
	background-color: rgb(255, 126, 0);
}

.btn-obtener-conf
{
	margin-top: 5px;
}

.btn-obtener-pln
{
	display: inline-block;
	margin-top: -5px;
	padding: 10px 58px;
	/*background: #00525d;*/
	background-color: rgb(255, 126, 0);
	border-radius: 5px;
	text-decoration: none !important;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	transition: all .3s;
}

.barra-princi-pagos
{
	width: 100%;
	height: auto;
	border-radius: 10px;
	background-color: #08344a;
	color:#fff;
	padding: 10px;
}

.tableforpayment
{
	margin-top: 20px;
}

tr.theadforpayment {
	background-color: rgb(255, 126, 0);
	color:#fff;
}

.theadforpayment > th
{
	width: 33%;
	text-align: center;
	font-size: 14px;
}

.trforpayment > td
{
	text-align: center;
}

.rd-left
{
	float: left;
}

.sct-1forpayment
{
	float: left;
}

.sct-2forpayment
{
	float:right;
	margin-top: 20px;
}

.sct2-all
{
	border-radius: 10px;
}

.sct2-ttl{
	background-color: rgb(255, 126, 0);
	color: #fff;
	padding: 5px;
}

.sct2-value
{
	background-color: #d7d7d7;
	padding: 5px;
}

.sections-in-gral-payment
{
	padding: 0px 15%;
}

.sct2-btn
{
	margin-top: 35px;
}

.btn-alarged
{
	width: 100%;
	text-decoration: none;
}

.img-contenida
{
    object-fit: contain;
}

/*----------- PRELOADER -----------*/
#contenedor_carga
{
  background-color:rgba(250,240,245, 0.9);
  height: 100%;
  width: 100%;
  position:fixed;
   -webkit-transition: all 1s ease !important;
  -o-transition: all 1s ease !important;
  transition: all 1s ease !important;
  z-index: 10000;
}

#carga{
 
   /*width: 60%;*/
  position:absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#carga1{
  position:absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 50%;
  margin: auto;
}

/* -------------- CSS STARS Y CAJA COMENTARIOS ------------- */
.form-stars {
	width: 100%;
	margin: 0 auto;
	height: 50px;
}

.form-stars p {
	text-align: center;
	float: left;
}

.form-stars label {
	font-size: 25px;
	margin: 5px;
}

.form-stars input[type="radio"] {
	display: none;
}

.form-stars label {
	color: grey;
}

.clasificacion {
	direction: rtl;
	unicode-bidi: bidi-override;
}

.form-stars label:hover,
.form-stars label:hover ~ label {
	color: orange;
}

.form-stars input[type="radio"]:checked ~ label {
	color: orange;
}

.stars-incomment .form-stars label
{
	font-size: 15px;
}

.form-stars.no-color-star label:hover,
.form-stars.no-color-star label:hover ~ label {
	color: black;
}

.accion-coment a
{
	color:#000;
	text-decoration: none;
}
.accion-coment
{
	float: right;
	margin-left:0px;
	margin-right: 15px;
}
.noclick
{
	height: inherit;
	width: 120px;
	position: absolute;
	top: 0;
	left: 0;
	/* background: #303952; */
	z-index: 1;
	/* opacity: .85; */
}
